<div align="left" class="d-flex align-items-center my-3">
<%= cl_image_tag message.user.photo, class: "avatar mr-1" %>
<p class="message-bubles text-left bg-info my-0 p-3" style="margin-right: 30vw; word-wrap: break-word; display: block; width: 70vw;"><%= message.content %></p>
</div>
