<%= simple_form_for [connection, message], remote: true, class:"p-2", url: "#{connection_messages_path(@connection)}#input_message" do |f| %>
  <div align="center" class="d-flex justify-content-center align-items-center chat-field input-message-field">
    <%= f.input :content, label: false %>
    <!-- <%#= f.submit 'send',  class: 'btn btn-warning btn-sm text-white' %> -->
    <button name="button" type="submit" class="btn bu-brand-button-sm btn-sm text-white ml-2" style="border-radius: 50%">
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>
<% end %>
<!-- variable.model_name + , id: 'input-field'"_" variable2.model_name + "_path" -->
