<h1>Messages#index</h1>
<h3><% @messages.each do |message| %>
  <input type="text">
  <% if message.user == current_user %>
    <p><%= message.content %></p>
  <% else%>
    <p class="text-center"><%= message.content %></p>
  <% end %>
<% end %>
</h3>
