<h1>Connections#index</h1>
<div class="container text-center">
  <% @connections.each do |c| %>
    <div class="card">
      <h3><%= c.receiver.first_name %> <%= c.receiver.last_name %></h3>
      <p><%= c.score %></p>
      <%= link_to "Message", connection_messages_path(c), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
