<h1>Connections#index</h1>
<div class="container text-center">
  <% @users.each do |user| %>
  <!-- <% Connection.new(user) %> -->
  <div class="card">
    <h3><%= user.first_name %> <%= user.last_name %></h3>
    <%= link_to messages_path(user) class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
