<%= simple_form_for [@connection, @meeting] do |f| %>
<div class="form-group">
  <%= f.input :date, as: :string, required: false, input_html: {id: "range_start", class: "datepicker form-control"} %>
</div>
<%= f.button :submit, "buddyUp", class: "btn btn-lg btn-primary" %>
<% end %>
