// Specific CSS for your home-page
h1.home-brand-proposition {
  font-size: 50px;
  // color: $teal;
  color: white;
  text-shadow: 2px 2px 10px black;
  // background: -webkit-linear-gradient(90deg, rgba(156,26,235,0.4948354341736695) 0%, rgba(76,112,242,1) 50%, rgba(2,195,154,1) 100%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

p.home-brand-catch-phrase {
  text-shadow: 1px 1px 5px black;
}
