// Import page-specific CSS files here.
@import "home";
@import "message-box";

.response-label {
  color: red;
}

.responses-text {
   display: inline-block;
}

 .hide {
  display: none;
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.questions h5 {
  flex-grow: 1;
  margin-bottom: 0;
}

.question-icon {
  margin-right: 10px;
  width: 30px;
  text-align: center;
  color: $bu-teal
}

.responses {
  margin-left: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.response-header {
  margin-top: 24px;
  opacity: 0.8;
}

.round {
  border-radius: 24px;
}

.slight-round {
  border-radius: 4px;
}

.finish {
  display: flex;
  justify-content: center;
}

.finish-button {
  width: 100%;
}
