.col-centered {
  float: none;
  margin: 0 auto;
}

.card-meeting-show {
  overflow: hidden;
  background: white;
  background-color: $bu-light-grey;
  padding: 1rem;
  width: 100%;
}

.event-labels {
  border: 1px solid $bu-teal;
  background-color: white;
  text-align: center;
  font-size: 12px;
}


.img-with-content {
  display: flex;
  align-items: start;
}
