<span id="<%= response.id %>">
  <% if user_response %>
  <!-- DESTROY -->
    <%= link_to response.answer, user_response_path(user_response), method: :delete, class: 'btn btn-outline-primary btn-sm round active mb-2 mr-2 p-2', remote: true %>
  <% else %>
    <!-- CREATE -->
    <%= link_to response.answer, response_user_responses_path(response), method: :post, class: 'btn btn-outline-primary btn-sm round mb-2 mr-2 p-2', remote: true %>
  <% end %>
</span>
