<div class="container">
  <h1>H1 Pageshome</h1>
  <h2>H2 Pageshome</h2>
  <h3>H3 Pageshome</h3>
  <h4>H4 Pageshome</h4>
  <h5>H5 Pageshome</h5>
  <h6>H6 Pageshome</h6>

  <p>p Pageshome - Find me </p>

  <a href="#" class="bu-brand-button bu-button-lg">Test!</a>


<div class="card-buddy">
  <img src="https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1002&q=80" class="avatar-medium"/>
  <div class="card-trip-infos">
    <div>
      <h2>Name</h2>
      <p>Here are the five words</p>
    </div>

    <h2 class="card-buddy">£99.99</h2>

  </div>
</div>

</div>
