




<div class="container">
  <div class="row">
    <div class="col-">

    <h1>Find a <span class="font-weight-bold mr-2">buddy</span></h1>
    <h1> Rock <span class="font-weight-bold">together</span>!</h1>
    <%= image_tag "friends_banner.jpg", class: "banner-sm mx-0", style:"object-fit: cover;" %>

    <div class="d-flex justify-content-center align-items-end">
        <%= link_to "Register now", dashboard_profile_edit_path, class: "bu-brand-button button-bottom-sticky" %>
    </div>
  </div>
</div>
