<div class="banner banner-lg d-flex flex-column justify-content-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1446160657592-4782fb76fb99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);">
  <div class="container">
    <% if user_signed_in? %>
      <h1>Find a <span class="font-weight-bold">buddy</span> to rock <span class="font-weight-bold">together</span>!</h1>
      <p><span id="banner-typed-text"></span></p>
      <form class="form-inline my-2 my-lg-0 d-flex align-items-center" action="/connections/search" method="get">
        <input class="form-control-lg mr-sm-2" type="text" name="species" placeholder="Search..." aria-label="Search">
        <button class="btn btn-lg btn-red" type="submit">Search</button>
      </form>
    <% else %>
      <%= link_to "Register now", dashboard_profile_edit_path, class: "bu-brand-button" %>
    <% end %>
  </div>
</div>
