.bu-brand-button {
  background: rgb(156,26,235);
  background: linear-gradient(81deg, rgba(156,26,235,0.4948354341736695) 0%, rgba(76,112,242,1) 47%, rgba(2,195,154,1) 100%);
  padding: 16px 32px;
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .button-bottom-sticky {
      display: inline;
      position: fixed;
      bottom: 0;
  }
}

.bu-brand-button-sm {
  background: rgb(156,26,235);
  background: linear-gradient(81deg, rgba(156,26,235,0.4948354341736695) 0%, rgba(76,112,242,1) 47%, rgba(2,195,154,1) 100%);
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 18px;
}

.bu-button-lg {
  display: inline-block;
}

.bu-brand-button:hover, .bu-brand-button-sm:hover  {
  background: #02C39A;
  color: white;
  text-decoration: none;
}
