.bu-brand-button {
  background: rgb(2,195,154);
  background: linear-gradient(90deg, rgba(2,195,154,1) 5%, rgba(59,44,133,1) 68%, rgba(140,227,209,1) 100%);
  padding: 16px 32px;
  width: 200px;
  color: white;
  font-weight: bold;

}

.bu-brand-button:hover {
  background: rgb(140,227,209);
  background: linear-gradient(90deg, rgba(140,227,209,1) 10%, rgba(2,195,154,1) 32%, rgba(59,44,133,1) 82%);
  color: white;
  text-decoration: none;
}
