// .card-booking {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   // box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   /* display: flex; */
//   border: 1px solid ligthgrey;
//   margin-bottom: 20px;
//   padding: 12px;
// }

.card-booking a {
  color: #FF4B4B;
}

.card-booking a:hover {
  color: #FF4B4B;
  text-decoration: none;
}


.card-booking .card-booking-infos {
  padding: 16px;
}

.card-title {
  opacity: 0.7;
}

.card-buddy {
  overflow: hidden;
  background: white;
  display: flex;
  align-items: flex-start;
  background-color: $bu-light-grey;
  height: 104px;
  padding: 8px;
  margin: 12px 0px;
}

.card-buddy .avatar-medium {
  align-self: center;
}

.card-buddy h3 {
  font-weight: bold;
  margin-bottom: 4px;
}

.card-buddy p {
  opacity: .7;
  margin: 0;
}


.card-buddy .card-buddy-infos {
  padding: 0px 8px;
  justify-content: space-between;
  align-self: flex-start;
  width: 200px;
}


.card-buddy .card-buddy-score {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 48px;
  height: 40px;
  opacity: 0.8;
  flex-direction: column;
  align-items: center;
  background: $bu-white;
  font-size: 16px;
  margin-left: auto;
  padding: 0px;
  border: 2px solid $bu-teal;
  border-image-source: linear-gradient(81deg, rgba(156,26,235,0.4948354341736695) 0%, rgba(76,112,242,1) 47%, rgba(2,195,154,1) 100%);
  border-image-slice: 1;
}

.card-buddy-score > p {
  font-size: 12px;
}

.card-buddy-score > h6 {
  margin: 0px;
}
