
// ################################################################
// This is the code for the meeting cards
// ################################################################



.card-meeting {
  overflow: hidden;
  background: white;
  background-color: $bu-light-grey;
  border-radius: 10px;
  margin: 0.5rem 0;
  padding: 1rem;
  display: flex;
  align-items: flex-start;

  a:hover {
    text-decoration: none;
  }

  .card-meeting-info-left {
    margin-right: auto;

    .card-meeting-date {
      margin: 0;
      padding: 0;
    }

    .card-meeting-name {
      opacity: 0.6;
    }
  }

  .card-meeting-info-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .card-meeting-score {
      display: flex;
      align-self: flex-start;
      justify-content: space-between;
      width: 48px;
      height: 40px;
      opacity: 0.8;
      flex-direction: column;
      align-items: center;
      background: $bu-white;
      font-size: 16px;
      margin-left: auto;
      padding: 0px;
      border: 2px solid $bu-teal;
      border-image-source: linear-gradient(81deg, rgba(156,26,235,0.4948354341736695) 0%, rgba(76,112,242,1) 47%, rgba(2,195,154,1) 100%);
      border-image-slice: 1;
      p {
        font-size: 12px;
      }
    }

    .card-meeting-detail {
      margin-top: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
        margin-left: 0.5rem;
      }
    }
  }
}

// ################################################################
// This is the code for the dashboard cards
// ################################################################



.card-dashboard {
  opacity: 0.6;
}

// ################################################################
// This is the code for the search result cards
// ################################################################

.card-buddy {
  overflow: hidden;
  background: white;
  display: flex;
  align-items: flex-start;
  background-color: $bu-light-grey;
  height: 104px;
  padding: 8px;
  margin: 12px 0px;
  color: black !important;
}

// .card-buddy:hover {
//   text-decoration: none !important;
//   color: black;
// }

.card-buddy .avatar-medium {

}

.card-buddy h3 {
  font-weight: bold;
  margin-bottom: 4px;
}

.card-buddy p {
  opacity: .7;
  margin: 0;
}


.card-buddy .card-buddy-infos {
  padding: 0px 8px;
  justify-content: space-between;
  align-self: flex-start;
  width: 200px;
}


.card-buddy .card-buddy-score {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 48px;
  height: 40px;
  opacity: 0.8;
  flex-direction: column;
  align-items: center;
  background: $bu-white;
  font-size: 16px;
  margin-left: auto;
  padding: 0px;
  border: 2px solid $bu-teal;
  border-image-source: linear-gradient(81deg, rgba(156,26,235,0.4948354341736695) 0%, rgba(76,112,242,1) 47%, rgba(2,195,154,1) 100%);
  border-image-slice: 1;
}

.card-buddy-score > p {
  font-size: 12px;
}

.card-buddy-score > h6 {
  margin: 0px;
}



.card-message {
  overflow: hidden;
  background: white;
  display: flex;
  // align-items: flex-start;
  background-color: $bu-light-grey;
  padding: 8px;
  margin: 12px 0px;
  color: black !important;
}

.card-message h3 {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 21px;
}

.card-message p {
  opacity: .7;
  margin: 0;
}
.card-message-detail {
  padding: 0px 8px;

}


