.navbar-toggler-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.navbar-buddyup {
  justify-content: space-between;
  background: white;
  // border-bottom: 1px solid $bu-light-grey;
  border-bottom: 1px solid rgb(210, 210, 210);
}

.navbar-buddyup-transparent {
  justify-content: space-between;
  background: transparent;
  color: white;
}

.navbar-buddyup .navbar-collapse {
  flex-grow: 0;
}

.navbar-buddyup .navbar-brand img {
  height: 40px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  line-height: 25px;
  padding: 5px 10px;
  transition: 0.5s;
  font-size: 20px;
}
