.navbar-buddyup {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid $bu-light-grey;
}

.navbar-buddyup .navbar-collapse {
  flex-grow: 0;
}

.navbar-buddyup .navbar-brand img {
  height: 40px;
}
