
.profile-buddyup-header {
  overflow: hidden;
  background: white;
  background-color: $bu-light-grey;
  display: flex;
  align-items: flex-start;
  height: 400px;
  padding: 12px;
  margin: 12px 0px;
}

.profile-buddyup-header .profile-buddyup-intro{
  display:flex;

}

.profile-buddyup-intro .avatar-large {
  display: flex;
  position: relative;
}

.profile-buddyup-intro h3 {
  font-weight: bold;
  margin-bottom: 4px;
}

.profile-buddyup-intro p {
  // opacity: .7;
  margin: 0;
}


.profile-buddyup-intro .profile-header-infos {
  display: flex;
  flex-direction: column;
  padding: 12px;
  // justify-content: space-between;
  align-self: flex-end;
  width: 200px;
  // position: absolute;
  // left: 320px;
  background-color: $bu-white;
  opacity: 0.6;
}


.profile-buddyup-intro .profile-header-buddy-score {
  display: flex;
  align-self: flex-start;
  margin-left: auto;
  width: 48px;
  height: 40px;
  opacity: 0.8;
  flex-direction: column;
  align-items: center;
  background: $bu-white;
  font-size: 16px;
  padding: 0px;
  border: 2px solid $bu-teal;
  border-image-source: linear-gradient(81deg, rgba(156,26,235,0.4948354341736695) 0%, rgba(76,112,242,1) 47%, rgba(2,195,154,1) 100%);
  border-image-slice: 1;
}

.profile-header-buddy-score > p {
  font-size: 12px;
}

.profile-header-buddy-score > h6 {
  margin: 0px;
}
