
.profile-buddyup-header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $bu-light-grey;
  // display: flex;
  // align-items: flex-start;
  height: 400px;
  padding: 20px;
  margin: 12px 0px;

}

.profile-buddyup-header .avatar-large {
  margin-right: auto;
  margin-left: auto;
}

.profile-buddyup-header h3 {
  font-weight: bold;
  margin-bottom: 8px;
}

.profile-buddyup-header h6 {
  margin-bottom: 8px;
}
.profile-buddyup-header p {
  // opacity: .7;
  margin: 0;
}


.profile-buddyup-header .profile-header-infos {
  text-align: center;
  flex-direction: column;
  padding: 0px 12px;
  align-self: center;
  width: 200px;
  padding: 0px 8px;
}


.profile-buddyup-header .profile-header-buddy-score {
  align-self: flex-end;
  display: flex;
  width: 48px;
  height: 40px;
  opacity: 0.8;
  flex-direction: column;
  align-items: center;
  background: $bu-white;
  font-size: 16px;
  padding: 0px;
  border: 2px solid $bu-teal;
  border-image-source: linear-gradient(81deg, rgba(156,26,235,0.4948354341736695) 0%, rgba(76,112,242,1) 47%, rgba(2,195,154,1) 100%);
  border-image-slice: 1;
}


.profile-header-buddy-score > p {
  font-size: 12px;
}

.profile-header-buddy-score > h6 {
  margin: 0px;
}

.profile-categories {
  margin-top: 20px;
}



.profile-categories .profile-category-tiles {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  margin-bottom: 20px;
}

.category-tile {
  margin: 2px 4px;
}



